<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl --><target includeMode="feature" name="E4 Cookbook Target Platform" sequenceNumber="1568034040">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.sdk.feature.group" version="4.12.0.v20190605-1801"/>
      <repository location="http://download.eclipse.org/releases/2019-06"/>
	    <unit id="org.eclipse.emf.eef.codegen.ecore-feature.feature.group" version="1.5.1.201601141612"/>
	    <unit id="org.eclipse.equinox.sdk.feature.group" version="3.18.0.v20190528-1257"/>
    </location>
	  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <repository location="http://download.eclipse.org/efxclipse/runtime-released/3.7.0/site"/>
		  <unit id="org.eclipse.fx.runtime.min.feature.feature.group" version="3.7.0.202010120720"/>
		  <unit id="org.eclipse.fx.target.rcp4.feature.feature.group" version="3.7.0.202010120723"/>
	  </location>
	  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <repository location="http://downloads.efxclipse.bestsolution.at/p2-repos/openjfx-11/repository/"/>
		  <unit id="openjfx.media.feature.feature.group" version="11.0.0.201901231300"/>
		  <unit id="openjfx.standard.feature.feature.group" version="11.0.0.201901231300"/>
		  <unit id="openjfx.swing.feature.feature.group" version="11.0.0.201901231300"/>
		  <unit id="openjfx.swt.feature.feature.group" version="11.0.0.201901231300"/>
		  <unit id="openjfx.web.feature.feature.group" version="11.0.0.201901231300"/>
	  </location>
	  <location path="/Users/jankihari/software/javafx-sdk-17.0.9/lib" type="Directory"/>
  </locations>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.launching.macosx.MacOSXType/BellSoft Liberica JDK 19.0.2+9 [19.0.2+9]"/>
	<launcherArgs>
		<vmArgs>-Dosgi.framework.extensions=org.eclipse.fx.osgi</vmArgs>
	</launcherArgs>
</target>